<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Login Page</h1>
    <form action="/user/login" method="POST">
        <form method="POST" action="/login">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" autocomplete="email" required>
        
            <label for="password">Password</label>
            <input type="password" id="password" name="password" autocomplete="current-password" required>
        
            <button type="submit">Login</button>
        </form>
        
    </form>
    
</body>
</html>